*{
    padding: 0;
    margin: 0;
    background-color: aqua;
}
h1{
    background-color: azure;
    border: 2px solid black;
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 10px;
}
.box{
    background-color: azure;
    border: 2px solid black;
    width: 50%;
    height: 50px;
    padding: 110px;
    margin: 10px;
    box-sizing: border-box;
}