body{
    text-align: center;
    background-color: powderblue;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
} 
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}