body{
    background-color: plum;
}
h2{
    text-align: center;
}
div{
    text-align: center;
    border: 1px solid blanchedalmond;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}