*{
    background-color: rgb(186, 173, 153);
}
.box{
    width: 250px;
    height: 200px;
    background-color: hotpink;
    border: 2px solid black;
    box-shadow: 15px 15px 12px 20px black;
}
.box-2{
    width: 250px;
    height: 200px;
    margin: 50px 0 0 100px;
    background-color: hotpink;
    border: 2px solid black;
    box-shadow: -15px -15px 12px 30px red;
}