.box{
    width: 300px;
    padding: 25px;
    border: 2px solid gray;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.box2{
    width: 300px;
    padding: 25px;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 30px;
}
.box3{
    width: 200px;
    height: 200px;
    padding: 25px;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 50%;
    overflow: auto;
    background-color: aqua;
}